$dark_colour_a: #2B69E8;
$dark_colour_b: #03E899;
$dark_colour_c: #850DFF;
$light_colour_a: #FF87CF;
$light_colour_b: #CEBDFF;
$light_colour_c: #B2FFA4;
$light_font_colour: #CDD8FF;
$dark_font_colour: #FF008A;

header,
main,
section,
footer {
  box-sizing: border-box;
  text-align: center;
  padding: 20px;
}

header {
  background: $dark_colour_a;
  color: $light_font_colour;
  height: 200px;
}

main {
  background: $dark_colour_b;
  color: $light_font_colour;
  height: 400px;
}

section {
  float: left;
  height: 300px;
  margin: 1%;
}

section.left {
  background: $light_colour_a;
  color: $dark_font_colour;
  width: 20%;
}

section.middle {
  background: $light_colour_b;
  color: $dark_font_colour;
  width: 50%;
}

section.right {
  background: $light_colour_c;
  color: $dark_font_colour;
  width: 20%;
}

footer {
  clear: both;
  background: $dark_colour_c;
  color: $light_font_colour;
  height: 100px;
}
.message {
  border: 1px solid #ccc;
  padding: 10px;
  color: #333;
}

.success {
  @extend .message;
  border-color: green;
}

.error {
  @extend .message;
  border-color: red;
}

.warning {
  @extend .message;
  border-color: yellow;
}
section.middle {
  width: 600px / 960px * 100%;
}

section.left,
section.right {
  width: 150px / 960px * 100%;
}
main {
    section {
        font-family: fantasy;
    }
}
@mixin border-radius($radius) {
  -webkit-border-radius: $radius;
     -moz-border-radius: $radius;
      -ms-border-radius: $radius;
          border-radius: $radius;
}

.box { @include border-radius(50px); }
